{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form %}
    {{ form_start(form) }}

    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">


            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    {{ form_label(form.newpassword, 'Mot de passe')  }}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form.newpassword, {'attr': {'class': 'input'}}) }}
                            {{ form_errors(form.newpassword) }}
                        </div>
                        <p class="help is-warning">Le mot de passe doit se composer d'au moins 8 caractères, dont
                            au minimum 1 lettre majuscule, 1 chiffre, et ne comporter aucun espace.</p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    {{ form_label(form.checknewpassword, 'Confirmer : ')  }}
                    {{ form_errors(form.checknewpassword) }}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form.checknewpassword, {'attr': {'class': 'input'}}) }}
                        </div>
                        <p class="help is-warning">Tapez à nouveau le mot de passe.</p>
                    </div>
                </div>
            </div>

            <button type="submit">Soumettre</button>

        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}