{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form %}
    {{ form_start(form) }}

    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">

            <div class="hero is-info">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            Connexion
                        </h1>
                    </div>
                </div>
            </div>

            <section>  <!-- Name -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.name, 'Courriel ou Pseudo') }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.password, 'Mot de passe')  }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.password, {'attr': {'class': 'input'}}) }}
                            </div>

                            <!-- Password forget -->
                            <div><a href="/forget">Mot de passe oublié ? Cliquer sur ce lien.</a></div>

                        </div>
                    </div>
                </div>

            </section>

            <button type="submit">Envoyer</button>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
