{% block form %}

    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">

            <div class="hero is-info">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            Ajoute ton trick à la liste
                        </h1>
                    </div>
                </div>
            </div>

            {{ form_start(form) }}
            <section>  <!-- Trick name -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                {{ form_label(form.title, 'Nom de la figure') }}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form.title) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">  <!-- Trick description -->
                <div class="field-label is-normal">
                    {{ form_label(form.description, 'Description') }}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                             {{ form_widget(form.description, {'attr': {'placeholder': 'Détaille la figure'} }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">   <!-- Trick group -->
                <div class="field-label is-normal">
                    {{ form_label(form.group, 'Groupe') }}
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{ form_widget(form.group) }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form.group) }}
                            <input class="input" type="text" placeholder="Nouveau groupe ?">
                            <p class="help is-info">Si le groupe ne figure pas dans la liste</p>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <section>     <!-- Pictures -->
            <div class="field is-horizontal" id="photosForm">
                <div class="field-label is-normal">
                    {{ form_label(form.picture, 'Image(s)') }}
                </div>
                <div class="field-body" id="loadMoreFiles">
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                {{ form_widget(form.picture) }}
                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                    Choisir un fichier
                                  </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <span class="icon is-medium"><i class="far fa-plus-square" onclick="newField()" id="input"></i></span>
                </div>
            </div>

            <div class="field is-horizontal">   <!-- Videos -->
                <div class="field-label is-normal">
                    <label class="label">{{ form_label(form, "Lien(s) vidéo(s)") }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control" id="newVid">
                            {{ form_widget(form.video, {'attr' : {'placeholder': 'https://'} }) }}
                            <p class="help is-info">Ecrire l'URL</p>
                        </div>
                    </div>
                </div>
                <span class="icon is-medium"><i class="far fa-plus-square" onclick="newVideo()"></i></span>
            </div>
            </section>

            <div class="control">   <!-- Submit -->
                <button type="submit" class="button is-primary">Envoyer</button>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

{% endblock %}