{% form_theme form _self %}

{% block form %}

    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">

            <div class="hero is-info">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            Modification d'un trick
                        </h1>
                    </div>
                </div>
            </div>

            {{ form_start(form) }}
            <section>  <!-- Trick name -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.trick_name, 'Nom de la figure') }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.trick_name) }}
                                {{ form_errors(form.trick_name) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">  <!-- Trick description -->
                    <div class="field-label is-normal">
                        {{ form_label(form.description, 'Description') }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.description, {'attr': {'placeholder': 'Détaille la figure'} }) }}
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">   <!-- Trick group -->
                    <div class="field-label is-normal">
                        {{ form_label(form.trick_group, 'Groupe') }}
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form_widget(form.trick_group) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section>     <!-- Pictures -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.photo, 'Image(s)') }}
                    </div>
                    <div class="field-body">
                        <div class="control">
                            <div class="file">
                                <label class="file-label" oninput="showFiles()">
                                    {{ form_widget(form.photo) }}
                                    {{ form_errors(form.photo) }}
                                    <span class="file-cta">
                                      <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                      </span>
                                      <span class="file-label">
                                        Choisir un ou des fichier(s)
                                      </span>
                                    </span>
                                </label>
                                <output id="loadedFiles"></output>
                            </div>
                        </div>
                    </div>
                </div>



                        <!-- Videos -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.video, "Lien(s) vidéo(s)") }}
                    </div>

                    <div class="field-body">
                        <div class="control">

                            <button type="button" id="btnNewVideo" data-rel="#collection">
                                <i class="icon far fa-plus-square"></i>
                            </button>

                            <div data-prototype="{{ include("theme/remove.html.twig", { form: form.video.vars.prototype } )|e('html_attr') }}"
                                 data-index="{{ form.video|length > 0 ? form.video|last.vars.name+1 : 0 }}" id="collection">
                                {% for oneVideo in form.video %}
                                    {{ include("theme/remove.html.twig", { form: oneVideo}) }}
                                {% endfor %}
                            </div>

                            {{ form_errors(form.video) }}

                        </div>
                    </div>

                </div>

            </section>

            <div class="control">   <!-- Submit -->
                <button type="submit" class="button is-primary">Envoyer</button>
            </div>

        </div>
    </div>
    {{ form_end(form, { 'render_rest': false }) }}

{% endblock %}

{% block javascripts %}
{% endblock %}

